table.Table {
  font-family: sans-serif;
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-style: solid;
  border-color: #000000;
  color: #000000;
}
  
table.Table th {
  font-family: sans-serif;
  background-color: #7b7a7a;
  border-style: solid;
  border-color: #000000;
  padding: 3px;
}

tr:nth-child(odd){
  background-color: lightgray;
}
  
tr:nth-child(even){
  background-color: rgb(167, 166, 166);
}
  
table.Table .heading {
  background-color: #7b7a7a;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 3px;
}

table.Table .center {
  font-family: sans-serif;
  text-align: center;
}

table.Table .unSubmittedCenter {
  font-family: sans-serif;
  text-align: center;
  background-color: yellow;
}
  
table.Table .left {
  font-family: sans-serif;
  text-align: left;
}
  
table.Table .right {
  font-family: sans-serif;
  text-align: right;
}
  
table.Table .fail {
  font-family: sans-serif;
  text-align: right;
  background-color: red;
  color: white;
}
  
table.Table .result {
  font-family: sans-serif;
  text-align: right;
}
  
table.Table .pass {
  font-family: sans-serif;
  text-align: right;
}
  
table.Table td {
  font-family: sans-serif;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 3px;
  text-align: center;
}
  
.tg .tg-red {
  text-align: right;
  color: white;
  background-color: #EE3B0A;
}
  
.wrapper {
  display:block;
  padding: 6px;
  text-align: center;
  align-items: center;
}
  
.myButton {
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:20px;
}

.UnSubmittedAssignments{
  text-align: center;
  font-size: 25px;
}

.finalGrade{
  cursor: pointer;
}
