
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
  /* here i am creatng the body for the font  */
body {
  font-family: 'Orbitron', sans-serif;
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}
/* container for the buttonss and adjusting postion and design */
button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}.start{
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(205, 205, 205);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  margin: 0 0px;
  font-family: 'Orbitron', sans-serif;
}
.start{
  width: 90px;
  height: 40px;

}
/* adjusting the current score highscore */
.currentscore {
  display:flex;
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(205, 205, 205);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 38px;
  margin: 0 45px;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid rgb(0, 0, 0);
}
.highscore
{
  display:flex;
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(205, 205, 205);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 38px;
  margin:  0px;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid rgb(0, 0, 0);
}


.highscore:on
.start:hover
.currentscore:hover {
  background-color: black;
}
.black-circles {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:230px;
    width: 230px;
    background-color:black;
    border-radius: 50%;
  }
 

 /*  here i added the pods to each cornoer of the black cicle and added the statues button */
  #on-off {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 8px;
    background-color:rgb(190, 0, 0);
    border-radius: 100%;
    border: 0px solid black;
  }
  
  .blue-pod{
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    background-color:rgb(6, 0, 190);
    border-radius: 50%;
    border: 10px solid black;
  }
  
  .red-pod{
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    background-color:rgb(202, 0, 0);
    border-radius: 50%;
    border: 10px solid black;
  }
  
  .green-pod{
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    background-color:green;
    border-radius: 50%;
    border: 10px solid black;
  }
  
  .yellow-pod{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 120px;
    background-color:rgb(205, 167, 0);
    border-radius: 50%;
    border: 10px solid black;
  }
  